<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>srtdash - ICO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="static/images/icon/favicon.ico">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/metisMenu.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- others css -->
    <link rel="stylesheet" href="static/css/typography.css">
    <link rel="stylesheet" href="static/css/default-css.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- modernizr css -->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- start amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->

    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">COVID-19 - {{state}}</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="/home">Home</a></li>
                            <li>States</li>
                            <select class="state" onChange="window.location.href=this.value">
                                <option selected>States</option>
                                <option value="/states?state=Maharashtra">Maharashtra</option>
                                <option value="/states?state=Delhi">Delhi</option>
                                <option value="/states?state=Uttar Pradesh">Uttar Pradesh</option>
                                <option value="/states?state=Karnataka">Karnatak</option>Gujarat
                                <option value="/states?state=Gujarat">Gujarat</option>
                            </select>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <!-- sales report area start -->
            <div class="sales-report-area mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="single-report mb-xs-30">
                            <div class="s-report-inner pr--20 pt--30 mb-3">
                                <h4 style="text-align:center;">Confirmed</h4>
                                <br>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Today</h4>
                                    <p>{{ today_conf}}</p>
                                </div>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Prediction - Tomorrow</h4>
                                    <p>{{ tom_conf}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-report mb-xs-30">
                            <div class="s-report-inner pr--20 pt--30 mb-3">
                                <h4 style="text-align:center;">Infected</h4>
                                <br>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Today</h4>
                                    <p>{{ today_inf}}</p>
                                </div>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Prediction - Tomorrow</h4>
                                    <p>{{ tom_inf}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-report mb-xs-30">
                            <div class="s-report-inner pr--20 pt--30 mb-3">
                                <h4 style="text-align:center;">Recovered</h4>
                                <br>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Today</h4>
                                    <p>{{ today_rec}}</p>
                                </div>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Prediction - Tomorrow</h4>
                                    <p>{{ tom_rec}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-report mb-xs-30">
                            <div class="s-report-inner pr--20 pt--30 mb-3">
                                <h4 style="text-align:center;">Death</h4>
                                <br>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Today</h4>
                                    <p>{{ today_dth}}</p>
                                </div>
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Prediction - Tomorrow</h4>
                                    <p>{{ tom_dth}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- overview area start -->
            <div class="row">
                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="header-title mb-0">Confirmed</h4>

                            </div>
                            <div id="amlinechart1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="header-title mb-0">Infected</h4>

                            </div>
                            <div id="amlinechart2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="header-title mb-0">Recovered</h4>

                            </div>
                            <div id="amlinechart3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="header-title mb-0">Deceased</h4>

                            </div>
                            <div id="amlinechart4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <!--<div class="footer-area">
            <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
        </div>-->
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->

<!-- jquery latest version -->


<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
<!-- bootstrap 4 js -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];



</script>
<!-- all line chart activation -->
<script src="static/js/line-chart.js"></script>
<!-- all pie chart -->
<script src="static/js/pie-chart.js"></script>

<!-- all bar chart activation -->
<script src="static/js/bar-chart.js"></script>
<!-- others plugins -->
<script src="static/js/plugins.js"></script>
<script src="static/js/scripts.js"></script>

</body>

</html>
